@use '../../styles/vars';

.btn {
  width: 100%;
  height: 48px;
  display: flex;
	justify-content: center;
	align-items: center;
  line-height: 15px;
	font-size: 14px;
  border: 1px solid vars.$gray;
  border-radius: 6px;
  background-color: transparent;
	cursor: move;

	&_zero {
		grid-column: span 2;
	}
	
	&_equal {
		height: 64px;
		background-color: vars.$iris;
		color: vars.$white;
	}

	.constructor .bar[draggable="false"] &{
		cursor: not-allowed;
	}

	.calc_runtime & {
		cursor: auto;

		&:hover {
			box-shadow: 0 0 10px vars.$gray;
		}

		&:active {
			border-color: vars.$iris;
			box-shadow: inset 0 0 0 1px vars.$iris;
		}
	}
}

