@use '../../styles/vars';
@use '../../styles/mixins';

.bar {
	margin-bottom: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: vars.$white;
  padding: 4px;
	gap: 8px;
  width: 100%;
	display: flex;
	opacity: 1;
	cursor: move;
	
	&_nums {
		display: grid;
		grid-template-columns: repeat(3, 1fr);

	}
	&_dragging {
		opacity: 0.7;
	}

	&[draggable='false']{
		opacity: 0.5;
		cursor: not-allowed;
	}

	.calc &_over {
		border-top: 3px solid vars.$iris;
	}

	.calc_active & {
		cursor: auto;
	}
}