// $mediumScreen: 992px;
// $smallScreen: 576px;

$white: #ffffff;
$black: #000000;
$dark: #111827;
$iris: #5D5FEF;
$filter-iris: invert(36%) sepia(27%) saturate(3531%) hue-rotate(220deg) brightness(97%) contrast(94%);
$light-blue: #F0F9FF;
$light-gray: #F3F4F6;
$gray: #E2E3E5;
$dark-gray: #4D5562;
$filter-dark-gray: invert(34%) sepia(9%) saturate(759%) hue-rotate(178deg) brightness(91%) contrast(92%);
$gray-secondary: #C4C4C4;
$gray-text: #6B7280;