// $mediumScreen: 992px;
// $smallScreen: 576px;

$white: #ffffff;
$black: #000000;
$dark: #111827;
$iris: #5D5FEF;
$light-gray: #F3F4F6;
$gray: #E2E3E5;
$dark-gray: #4D5562;
$gray-secondary: #C4C4C4;
$gray-text: #6B7280;