@use './vars';

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('../assets/fonts/Inter-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Inter Extrabold';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url('../assets/fonts/Inter-ExtraBold.woff') format('woff');
}

body {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  background-color: vars.$white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 570px;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
