@use '../../styles/vars';

.calc {
	width: 243px;
	display: flex;
	flex-direction: column;
	border: 2px dashed transparent;
	border-radius: 6px;
	
	&_empty {
		align-items: center;
		justify-content: center;
		padding: 50px;
		text-align: center;
		border-color: vars.$gray-secondary;
	}

	&_hover {
		background-color: vars.$light-blue;
	}

	&__li {
		list-style: none;
	}
}

.text {
	font-size: 12px;
	color: vars.$gray-text;

	&_accent {
		position: relative;
		margin: 32px 0 4px 0;
		font-size: 14px;
		color: vars.$iris;

		&::before {
			position: absolute;
			content: '';
			top: -32px;
			left: calc(50% - 11px);
			width: 22px;
			height: 22px;
			background-image: url('../../assets/icons/drop.svg');
		}
	}
}