@use '../../styles/vars';

.calc {
	width: 243px;
	border: 2px dashed transparent;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	align-items: center;

	&_empty {
		border-color: vars.$gray-secondary;
		text-align: center;
		justify-content: center;
		padding: 50px;
	}
}

.text {
	font-size: 12px;
	color: vars.$gray-text;
	&_accent {
		font-size: 14px;
		color: vars.$iris;
		margin: 32px 0 4px 0;
		position: relative;
		&::before {
			position: absolute;
			content: '';
			top: -32px;
			left: calc(50% - 11px);
			width: 22px;
			height: 22px;
			background-image: url('../../assets/icons/drop.svg');
		}
	}
}